<p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p><img src="http://localhost:8000/image/thumbnail1.jpg">
<p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p><img src="http://localhost:8000/image/thumbnail1.jpg">
<p>A robot who has developed sentience, and is the only robot of his kind shown to be still functioning on Earth.</p><img src="http://localhost:8000/image/thumbnail1.jpg">