<form action="/add-category" method="POST">
    <div class="mb-3">
        <label for="srNo" class="form-label">SrNo</label>
        <input type="number" name="srNo" class="form-control" placeholder="Serial Number" id="srNo"
            aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    
    <div class="mb-3">

        <input type="checkbox" name="Vegetable Recipes">
        <label for="Vegetable Recipes"> Vegetable Recipes</label><br>
        
        <input type="checkbox" name="Recipes For Kids">
        <label for="Recipes For Kids"> Recipes For Kids</label><br>
        
        <input type="checkbox" name="Snacks Recipes">
        <label for="Snacks Recipes"> Snacks Recipes</label><br>
       
        <input type="checkbox" name="Bihari Recipes">
        <label for="Bihari Recipes"> Bihari Recipes</label><br>
        
        <input type="checkbox" name="Sweet Dishes">
        <label for="Sweet Dishes"> Sweet Dishes</label><br>
        
        <input type="checkbox" name="Breakfast Recipes">
        <label for="Breakfast Recipes"> Breakfast Recipes</label><br>
        
        <input type="checkbox" name="Product Unboxing And Review">
        <label for="Product Unboxing And Review"> Product Unboxing And Review</label><br>
       
        <input type="checkbox" name="Gujrati Recipes">
        <label for="Gujrati Recipes"> Gujrati Recipes</label><br>
       
        <input type="checkbox" name="Dal And Kadhi Recipes">
        <label for="Dal And Kadhi Recipes"> Dal And Kadhi Recipes</label><br>

        <input type="checkbox" name="Vrat Recipes">
        <label for="Vrat Recipes"> Vrat Recipes</label><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Video Sr No</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>{{ data.video_srNo }}</td>
            <td>{{ data.category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>