<!-- basic_sidebar.html - this sidebar is created on basis of https://bootstrapious.com/p/bootstrap-sidebar -->
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4>MY RECIPE BOOK</h4>
        </div>

        <ul class="list-unstyled components">

            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Categories</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>

            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>


    </nav>
    <div>
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>

            <!-- to display recipe video cards -->
            <div class="container">
                <div class="row">
                    {% for project in projects %}
                    <div class="col-md-3">
                        <div class="card mb-2">
                            <img class="card-img-top" src="{{project.image.url }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <!-- <a href="{{project.video}}" class="btn btn-primary"> -->
                                    <a href="{% url 'projects:video' project.id %}" class="btn btn-primary"></a>
                                    Watch Video
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>