<%- include('main/base.ejs') %>
<!-- {% block body %} -->
<div class="container">
  <h1 style="text-align: center;">To Do App</h1>
  <form action="/add-list" method="POST">
    <div class="mb-3">
      <label for="newItem" class="form-label">New Item</label>
      <input type="text" name="title" class="form-control" id="newItem">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <div class="my-3">
    <form action="/update-delete-list" method="POST">
      <ul class="list-group mb-3">
        {% for data in datas %}
        <li class="list-group-item">
          <input type="checkbox" id="{{ data._id.$oid }}">
          <label for="" class="list-checkbox">{{ data.title }}</label>
          <!-- <span class="checkmark"></span> -->
        </li>
        {% endfor %}
      </ul>
      <button type="submit" name="button" value="update" class="btn btn-primary">Update</button>
      <button type="submit" name="button" value="delete" class="btn btn-primary">Delete</button>
    </form>
  </div>
</div>
<!-- {% endblock %} -->